.header_inventory_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px -2px 1px rgba(50, 50, 50, 0.25);
    max-height: 54px;
}

.header_inventory_id {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}

.header_inventory_id:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: #d3d3d3;
}

.header_inventory_id_button {
    width: 30%;
    height: 70%;
    border: 2px;
    border-radius: 5px;
}
.header_inventory_name {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}
.header_inventory_name:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: #d3d3d3;
}
.header_inventory_name_button {
    width: 30%;
    height: 70%;
    border: 2px;
    border-radius: 5px;
}
.header_inventory_expiration{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}
.header_inventory_expiration:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: #d3d3d3;
}

.header_inventory_expliration_button {
    width: 20%;
    height: 70%;
    border: 2px;
    border-radius: 5px;
}

.header_inventory_amount {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}

.header_inventory_amount:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: #d3d3d3;
}

.header_inventory_amount_button {
    width: 30%;
    height: 70%;
    border: 2px;
    border-radius: 5px;
}
.header_inventory_edit{
    width: 95px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    height: 50px;
}

.header_inventory_edit_button{
    width: 55px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    height: 35px;
}

.header_inventory_edit_button:hover{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: #d3d3d3;
}