.tabs {
    width: 100%;
    height: auto;
    min-height: 400px;
    margin: 3.5rem auto 1.5rem;
    padding: 2rem 1rem;
    color: #E8F0F2;
    border-radius: 1rem;
    border: 1px solid #333 ;
    @media (max-width: 769px) {
     padding: 2rem 0;
    }
}

.tabs_list {
    width: 80%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #333;
    border-radius: 1rem;
    padding-left: 0px;
    @media (max-width: 768px) {
      width: 90%;
    }
  }

.tabs_list li{
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    color: black;
  }

  .tabs_list li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .tabs_list li:nth-child(3) {
    border-radius: 0;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .tabs_list li:hover {
    background: rgba(15, 90, 15, 0.5);
  }

  .tabs_list li.active {
    background: rgba(15, 90, 15, 0.5);
  }

  .fridge p, .freezer p, .cabinet p {
    font-size: 2rem;
    text-align: center;
    color: black;
  }